.textarea {
  resize: none;
  box-sizing: border-box;
  text-wrap: pretty;
  display: block;
  inline-size: 100%;
  border: none;
  background-color: var(--calcite-text-area-background-color, var(--calcite-color-foreground-1));
  color: var(--calcite-text-area-text-color, var(--calcite-color-text-1));
  font-family: var(--calcite-sans-family);
  --calcite-internal-text-area-border-color: var(--calcite-text-area-border-color, var(--calcite-color-border-input));
  outline: var(--calcite-border-width-sm) solid var(--calcite-internal-text-area-border-color);
  outline-offset: calc(-2px*(1 - (2* clamp(0, var(--calcite-offset-invert-focus), 1))));
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  max-height: 136px;

  &:focus {
    outline: 2px solid var(--calcite-color-focus, var(--calcite-ui-focus-color, var(--calcite-color-brand)));
  }
}